.header {
    padding: 1rem 0 3rem;
    grid-area: header;
}

// .title {
//     color: black;
//     font-size: 2rem;
//     margin: auto;
//     text-decoration: none;
//     @media(max-width: 400px) {
//         font-size: 1rem
//     }
// }

.logo {
    width: 250px;
}

@media screen and (max-width: 480px) {
    .logo {
        width: 100px;
    }
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: auto;
    justify-content: space-around;
}

.nav-item {
    display: flex;
    color: #999999;
    font-size: .9rem;
    margin: auto;
    text-decoration: none;
}

.nav-item:hover {
    color: #666666;
}

.active-nav-item {
    color: #333333;
}