
.container {
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}


.content {
    width: 70vw;
    margin: auto;
    justify-content: center;
}